.simple-grid {
	border: 1px solid #f0f0f0;
	position: relative;
	font-family: "Microsoft YaHei", "宋体", "arial";
	font-size: var(--grid-font-size, 12px);
}
.header {
	border-bottom: 1px solid #ccc;
	background: #595959;
	height: var(--header-height, 40px);
	line-height: var(--header-line-height, 40px);
}
.row {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #f0f0f0;
	height: var(--row-height, 40px);
	line-height: var(--row-line-height, 40px);
}
.row.alt {
	background: #fdfdfd
}
.row:hover {
	background: #d5f9ef;
	border-bottom-color: #d5f9ef;
}
.header-cell,
.body-cell,
.inactive-cell,
.index-cell,
.row-cell{
	float: left;
	height: var(--cell-height, 40px);
	line-height: var(--cell-line-height, 40px);
	width:  var(--cell-width, 100px);
	border-right: 0px dashed #f0f0f0;
	text-indent: 3px;
}
.header-cell {
	text-align: center;
	font-weight: bold;
	color: #000;
	background: #595959;
	border-color: #595959;
	color: #fff;
}
.body {
	overflow: auto;
	position: relative;
	overflow-x: hidden
}
.content {
	margin: 0 3px
}
.index {
	width: 35px;
	font-style: italic;
}
.check {
	width: 35px;
	text-align: center
}
.body .index {
	color: #ccc;
	text-align: right;
}
.header-cell:last-child {
	border-right: 0
}
.row-cell {
	border-right: 0px solid #f0f0f0;
	min-height: 10px;
}
.row-cell:hover {
	background: #00BCD4;
}
.simple-grid-footer {
	background: #fdfdfd;
	border: 1px solid #f0f0f0;
	box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.3);
}